@model BaseWebApp.Models.ConnectionInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<div>
    <h2>ConnectionInfo</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
	<h4>Environment Variables</h4>
	<ul>
		@{
			foreach (var line in Model.EnvVars) {
				<li>@line</li>
			}
		}
	</ul>
</div>
</body>
</html>
